	 
	<li class="dropdown">
        <a href="{{ path('dashboard_demo') }}" class="dropdown-toggle" data-toggle="dropdown"> Uboard <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href ="#"> Finance </a></li>
				 <li><a> Entreprise  </a></li>
			</ul>
	</li>	
	
		   
    <li class="dropdown">
       <a href="#"class="dropdown-toggle" data-toggle="dropdown"> Finance <b class="caret"></b></a>		
		<ul class="dropdown-menu">
			<li><a href ="{{ path('dashboard_data') }}"> Données financiére </a></li>
			<li><a href ="{{ path('dashboard_market') }}"> Marché </a></li>
			<li><a href ="{{ path('dashboard_strategy') }}"> Stratégie </a></li>
        </ul>
	</li>
