<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <span class="copyright">Copyright &copy; BoarNPlan 2016</span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <ul class="list-inline social-buttons">
                <li>
                    <a href="https://twitter.com/BoardNPlan"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <ul class="list-inline ">
                <a href={{ path('blog_menu') }}> {{'footer.legal'|trans }} </a>
                <li>
                    <a href="#">Back to top</a>
                </li>
            </ul> 
        </div>
    </div>
</div>
